body, html {
    background-color: black;
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    

}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
}

.animation-container{
    height: 200px;
    width: 100%;

}

img{
    max-height: 200px;
    animation-name: fly;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fly {
    0% {
        display: block;
    }
    100% {
        transform: translateX(100vw);
        display: none;
    }
}


p {
    color: white;
    font-family: 'Syne Mono', sans-serif;
    font-size: 32px;
}

button {
    width: 120px;
    height: 100px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin: 10px;
    font-size: 26px;
}

button:hover {
    transform: scale(1.1);
}



.button-container {
    display: flex;
}
